.thumbnail {
    width: 100%;
  }
  
  .video-title { 
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 500;
    line-height: 22px;
  }
  .video-author,
  .video-stats {
    color: gray;
    margin-top: 4px;
    font-size: 13px;
  }
  .video-author {
    margin-bottom: 4px;
  }
  .channel-info {
    width: 200px;
  }
  .profile-picture {
    border-radius: 25px;
    width: 40px;
  }
  .channel-information {
    margin-top: 10px;
  }
  .info-grid {
    display: grid;
    grid-template-columns: 50px 1fr;
  }
  .video-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 16px;
    row-gap: 40px;
  }